body {
    background: teal;
    margin: 0;
}

body, #map {
    height: 100vh;
    width: 100%;
    margin: 0;
}

nav {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: gray;
    padding: 10px;
    border-bottom: 5px solid white;
}

#container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#map {
    height: 40vh;
    margin: 5% 0;
    background: beige;
    border-radius: 8px;
}

/* additional aesthetics for gauges/charts */
#src_dst {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

label {
    width: 40%;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

select {
    width: 40%;
    border-radius: 5px;
    height: 2rem;
}

#gauge {
    width: 40%;
}